@using FirstDbExercise
@model List<ToDo>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>To Do</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <h1 style="text-align:center">Todos for today</h1>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-6">
                @Html.ActionLink("Add work to do", "AddToDatabase", "Home", null, new { @class = "btn btn-info btn-large" })
                @Html.ActionLink("Asignees list", "ListOfAssignes", "Home", null, new { @class = "btn btn-info btn-large" })
            </div>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>

                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Descrition</th>
                    <th scope="col">Is it urgent?</th>
                    <th scope="col">Is it done?</th>
                    <th scope="col">Delete your task?</th>
                    <th scope="col">Edit your task</th>
                    <th scope="col">Worker name</th>
                    <th scope="col">Worker Email</th>
                </tr>
            </thead>

            @foreach (var toDo in Model)
            {
                <tbody>
                    <tr>
                        <th scope="row">@toDo.Id</th>
                        <td>@toDo.Title</td>
                        <td>@toDo.Description</td>
                        <td>@toDo.IsUrgent</td>
                        <td>@toDo.IsDone</td>
                        <td>@Html.ActionLink("Delete", "DeleteFromDatabase", "Home", new { id = toDo.Id }, new { @class = "btn btn-danger" })</td>
                        <td>@Html.ActionLink("Edit", "EditInDatabase", "Home", new { id = toDo.Id }, new { @class = "btn btn-primary" })</td>
                       @if (toDo.Asignee!= null)
                       {
                        <td>@Html.ActionLink(toDo.Asignee.Name, "ShowAsignedList", "Home", new { id = toDo.Asignee.Id }, new { @class = "btn btn-success" })</td>
                        <td>@toDo.Asignee.Email</td>
                       }
                    </tr>
            </tbody>
            }


        </table>

        @using (Html.BeginForm("SearchInDB", "Home", FormMethod.Post))
        {
            <label for="search"> Search In To do database: </label>
            <input type="text" name="searchedText" id="search" />
            <input type="submit" value="Search" />
            <br />
        }
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    </div>
</body>
</html>
